In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from sklearn.metrics import confusion_matrix

In [2]:
# Visualizations if needed

In [3]:
#import Data
train_data = pd.read_csv("train_sessions.csv")
train_data.head()

,secs_elapsed_x,action,action_type,action_detail,device_type,secs_elapsed_y,hrs_elapsed,booked
0,3427529.0,126,90,90,127,126,57125.483333,1.0
1,207842.0,9,8,8,9,8,3464.033333,0.0
2,1135444.0,15,16,16,16,15,18924.066667,0.0
3,3755100.0,152,125,125,152,151,62585.000000,0.0
4,2555.0,8,8,8,8,7,42.583333,1.0

In [4]:
#Designate X (Data) and y (Target)
# where YYYYY= to the column label that is the target

#drops the column with the target data from the data
X = train_data.drop("booked", axis=1) 

#assigns column with the target data from the data to y
y = train_data["booked"]

#verify that target column has been dropped
print(X.shape, y.shape)

(73815, 7) (73815,)

In [5]:
#spllit data into training and testing data

from sklearn.model_selection import train_test_split

#Adjust Trainting size >> Must be a number between 0-1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y, train_size=.8)

C:\Users\jprom\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [6]:
#create logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
#Fit Model
classifier.fit(X_train, y_train)

C:\Users\jprom\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [8]:
# Print Model Scores

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5942389758179232
Testing Data Score: 0.5872112714217977

In [9]:
# Predicitons
#### Ensure Test data has session values
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

First 10 Predictions:   [1. 0. 0. 0. 0. 0. 1. 0. 1. 0.]
First 10 Actual labels: [1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0]

       Prediction  Actual
0             1.0     1.0
1             0.0     0.0
2             0.0     0.0
3             0.0     1.0
4             0.0     0.0
5             0.0     1.0
6             1.0     1.0
7             0.0     0.0
8             1.0     0.0
9             0.0     0.0
10            1.0     0.0
11            1.0     0.0
12            0.0     1.0
13            0.0     0.0
14            1.0     1.0
15            0.0     1.0
16            1.0     1.0
17            1.0     1.0
18            0.0     1.0
19            0.0     0.0
20            0.0     1.0
21            0.0     0.0
22            1.0     1.0
23            1.0     0.0
24            0.0     0.0
25            0.0     1.0
26            1.0     1.0
27            1.0     1.0
28            1.0     1.0
29            0.0     1.0
...           ...     ...
14733         0.0     0.0
14734         0.0     0.0
14735         0.0     0.0
14736         1.0     1.0
14737         0.0     0.0
14738         0.0     0.0
14739         1.0     1.0
14740         0.0     0.0
14741         0.0     1.0
14742         1.0     1.0
14743         0.0     0.0
14744         0.0     1.0
14745         1.0     0.0
14746         0.0     0.0
14747         1.0     0.0
14748         1.0     0.0
14749         1.0     0.0
14750         0.0     0.0
14751         1.0     0.0
14752         0.0     0.0
14753         1.0     0.0
14754         0.0     1.0
14755         0.0     0.0
14756         0.0     0.0
14757         1.0     1.0
14758         1.0     0.0
14759         1.0     1.0
14760         0.0     1.0
14761         0.0     0.0
14762         0.0     1.0

[14763 rows x 2 columns]

In [10]:
confusion_matrix(y_test, predictions)

array([[6620, 2388],
       [3706, 2049]], dtype=int64)

In [11]:
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
print(f"tn: {tn:3d}   fp: {fp:3d}")
print(f"fn: {fn:3d}   tp: {tp:3d}")

tn: 6620   fp: 2388
fn: 3706   tp: 2049