In [24]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from sklearn.metrics import confusion_matrix

In [25]:
# Visualizations if needed

In [31]:
#import Data
train = pd.read_csv("train_file_427_v2.csv")
train.head()

,user_id,date_account_created,timestamp_first_active,date_first_booking,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,...,dashboard_y_1,cancellation_policies_y_1,edit_profile_1,oauth_login_1,secs_elapsed_u_1,requested_u_1,verify_u_1,Male,Male_u,age_m
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,NaN,facebook,0,en,direct,direct,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,33.0
1,820tgsjxq7,2011-05-25,20090523174809,NaN,38.0,facebook,0,en,seo,google,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,38.0
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,56.0,basic,3,en,direct,direct,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,56.0
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,42.0,facebook,0,en,direct,direct,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,42.0
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,41.0,basic,0,en,direct,direct,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,41.0

In [32]:
#Designate X (Data) and y (Target)
# where YYYYY= to the column label that is the target
mykeeplist = list(train.columns)[16:]
mykeeplist
train_data = train[mykeeplist]
train_data.head()

,booking,confirm_email_u,travel_plans_current_u,pending_x_u,at_checkpoint_x_u,dashboard_x_u,identity_u,cancellation_policies_x_u,edit_u,ajax_image_upload_u,...,dashboard_y_1,cancellation_policies_y_1,edit_profile_1,oauth_login_1,secs_elapsed_u_1,requested_u_1,verify_u_1,Male,Male_u,age_m
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,33.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,38.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,56.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,42.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,41.0

In [33]:

#drops the column with the target data from the data
X = train_data.drop("booking", axis=1) 

#assigns column with the target data from the data to y
y = train_data["booking"]

#verify that target column has been dropped
print(X.shape, y.shape)

(213451, 78) (213451,)

In [34]:
#spllit data into training and testing data

from sklearn.model_selection import train_test_split

#Adjust Trainting size >> Must be a number between 0-1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y, train_size=.8)

C:\Users\zineb\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [35]:
#create logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [36]:
#Fit Model
classifier.fit(X_train, y_train)

C:\Users\zineb\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
# Print Model Scores

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6206430077301476
Testing Data Score: 0.6220514862617413

In [38]:
# Predicitons
#### Ensure Test data has session values
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

First 10 Predictions:   [0. 0. 0. 0. 0. 0. 0. 1. 1. 0.]
First 10 Actual labels: [0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0]

       Prediction  Actual
0             0.0     0.0
1             0.0     1.0
2             0.0     0.0
3             0.0     0.0
4             0.0     1.0
5             0.0     1.0
6             0.0     0.0
7             1.0     1.0
8             1.0     1.0
9             0.0     0.0
10            0.0     1.0
11            0.0     0.0
12            1.0     1.0
13            0.0     1.0
14            1.0     1.0
15            0.0     1.0
16            0.0     0.0
17            0.0     1.0
18            0.0     0.0
19            1.0     1.0
20            0.0     0.0
21            0.0     0.0
22            0.0     0.0
23            1.0     1.0
24            0.0     0.0
25            0.0     0.0
26            0.0     1.0
27            1.0     0.0
28            0.0     0.0
29            0.0     0.0
...           ...     ...
42661         0.0     0.0
42662         1.0     0.0
42663         0.0     1.0
42664         0.0     1.0
42665         0.0     0.0
42666         0.0     0.0
42667         0.0     1.0
42668         0.0     1.0
42669         1.0     1.0
42670         1.0     0.0
42671         1.0     0.0
42672         0.0     1.0
42673         0.0     0.0
42674         0.0     0.0
42675         0.0     0.0
42676         0.0     1.0
42677         0.0     1.0
42678         0.0     1.0
42679         1.0     1.0
42680         0.0     1.0
42681         0.0     1.0
42682         0.0     1.0
42683         0.0     0.0
42684         0.0     0.0
42685         1.0     0.0
42686         0.0     1.0
42687         0.0     1.0
42688         0.0     0.0
42689         0.0     0.0
42690         0.0     0.0

[42691 rows x 2 columns]

In [39]:
confusion_matrix(y_test, predictions)

array([[20639,  4270],
       [11865,  5917]], dtype=int64)

In [40]:
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
print(f"tn: {tn:3d}   fp: {fp:3d}")
print(f"fn: {fn:3d}   tp: {tp:3d}")

tn: 20639   fp: 4270
fn: 11865   tp: 5917