In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from sklearn.metrics import confusion_matrix

In [2]:
# Visualizations if needed

In [18]:
#import Data
train = pd.read_csv("train_file_427.csv")

train.head()
train.info()

train1 = train.loc[train['session_flag_1'] == 0]
train1.session_flag_1.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 33 columns):
user_id                    213451 non-null object
booked                     213451 non-null float64
age_b                      213451 non-null int64
PC_Device                  213451 non-null int64
Mac_PC                     213451 non-null int64
requested_u                213451 non-null float64
verify_u                   213451 non-null float64
confirm_email_u            213451 non-null float64
travel_plans_current_u     213451 non-null float64
pending_u                  213451 non-null float64
dashboard_u                213451 non-null float64
identity_u                 213451 non-null float64
cancellation_policies_u    213451 non-null float64
edit_u                     213451 non-null float64
agree_terms_check_u        213451 non-null float64
show_personalize_u         213451 non-null float64
set_user_u                 213451 non-null float64
secs_elapsed_u             213451 non-null float64
session_flag_u             213451 non-null float64
requested_1                213451 non-null float64
verify_1                   213451 non-null float64
confirm_email_1            213451 non-null float64
travel_plans_current_1     213451 non-null float64
pending_1                  213451 non-null float64
dashboard_1                213451 non-null float64
identity_1                 213451 non-null float64
cancellation_policies_1    213451 non-null float64
edit_1                     213451 non-null float64
agree_terms_check_1        213451 non-null float64
show_personalize_1         213451 non-null float64
set_user_1                 213451 non-null float64
secs_elapsed_1             213451 non-null float64
session_flag_1             213451 non-null float64
dtypes: float64(29), int64(3), object(1)
memory usage: 53.7+ MB

0.0    140045
Name: session_flag_1, dtype: int64

In [19]:
mykeeplist = list(train1.columns)[1:5]
mykeeplist

['booked', 'age_b', 'PC_Device', 'Mac_PC']

In [20]:
train_data = train1[mykeeplist]
train_data.head()

   booked  age_b  PC_Device  Mac_PC
0     0.0      0          1       1
1     0.0      1          1       1
2     1.0      0          1       0
3     1.0      1          1       1
4     1.0      1          1       1

In [21]:
list(train_data.columns)

['booked', 'age_b', 'PC_Device', 'Mac_PC']

In [22]:
del train_data['PC_Device']

In [23]:
list(train_data.columns)

['booked', 'age_b', 'Mac_PC']

In [24]:
#Designate X (Data) and y (Target)
# where YYYYY= to the column label that is the target

#drops the column with the target data from the data
X = train_data.drop("booked", axis=1) 

#assigns column with the target data from the data to y
y = train_data["booked"]

#verify that target column has been dropped
print(X.shape, y.shape)

(140045, 2) (140045,)

In [25]:
#spllit data into training and testing data

from sklearn.model_selection import train_test_split

#Adjust Trainting size >> Must be a number between 0-1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y, train_size=.75)

C:\Users\pa223\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [26]:
#create logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [27]:
#Fit Model
classifier.fit(X_train, y_train)

C:\Users\pa223\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
# Print Model Scores

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score:  {classifier.score(X_test, y_test)}")

Training Data Score: 0.626069901840374
Testing Data Score:  0.6289557865874558

In [29]:
# Predicitons
#### Ensure Test data has session values
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

First 10 Predictions:   [1. 0. 1. 0. 1. 1. 0. 1. 1. 1.]
First 10 Actual labels: [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0]

       Prediction  Actual
0             1.0     1.0
1             0.0     0.0
2             1.0     0.0
3             0.0     0.0
4             1.0     0.0
5             1.0     1.0
6             0.0     0.0
7             1.0     1.0
8             1.0     1.0
9             1.0     0.0
10            1.0     0.0
11            0.0     1.0
12            1.0     0.0
13            0.0     0.0
14            0.0     0.0
15            0.0     0.0
16            0.0     0.0
17            1.0     1.0
18            0.0     0.0
19            0.0     0.0
20            0.0     0.0
21            0.0     1.0
22            1.0     1.0
23            0.0     1.0
24            0.0     0.0
25            0.0     0.0
26            0.0     0.0
27            1.0     1.0
28            0.0     0.0
29            0.0     1.0
...           ...     ...
34982         0.0     0.0
34983         0.0     0.0
34984         0.0     0.0
34985         1.0     1.0
34986         0.0     1.0
34987         0.0     0.0
34988         0.0     0.0
34989         1.0     1.0
34990         0.0     0.0
34991         0.0     1.0
34992         1.0     1.0
34993         0.0     0.0
34994         1.0     0.0
34995         0.0     0.0
34996         1.0     1.0
34997         0.0     1.0
34998         1.0     1.0
34999         0.0     1.0
35000         0.0     0.0
35001         1.0     1.0
35002         1.0     0.0
35003         0.0     0.0
35004         0.0     1.0
35005         0.0     0.0
35006         0.0     0.0
35007         0.0     0.0
35008         0.0     1.0
35009         0.0     0.0
35010         1.0     1.0
35011         0.0     0.0

[35012 rows x 2 columns]

In [30]:
confusion_matrix(y_test, predictions)

array([[14325,  5613],
       [ 7378,  7696]], dtype=int64)

In [31]:
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
print(f"true did not book: {tn:3d}   fp: booked but didnt {fp:3d}")
print(f"fals did not book: {fn:3d}   tp: booked and did   {tp:3d}")

true did not book: 14325   fp: booked but didnt 5613
fals did not book: 7378   tp: booked and did   7696

In [32]:
print(classifier.coef_)

[[0.92909939 0.2808223 ]]

In [261]:
# cdf = pd.DataFrame(classifier.coef_, X.columns, columns=['Coefficients'])
# print(cdf)

In [33]:
classifier.intercept_

array([-0.76718064])

In [262]:
#pd.DataFrame(dict(zip(X.columns,model.coef_[0])),index=[0]).T

In [ ]:
no session data model (Age and Mac PC Usage)
y = -.76718064 = .92909939x1 + .2808223x2

Training Data Score: 62.6%
Testing Data Score:  62.8%